<div style="background-color: orange;">
    <header class="header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <img src="assets/Logos/CasaManzanaPNG.png" height="30px" width="30px">
          <a class="navbar-brand" href="#">Bienvenido a Casa de la Manzana</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Acerca de</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contacto</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                      <path d="M0 0h1.996a.25.25 0 0 1 .24.173l.704 2.816a.25.25 0 0 0 .24.173h11.712a.25.25 0 0 0 .24-.173l.704-2.816A.25.25 0 0 1 14.004 0H16v1h-.929l-1.04 4.16A2 2 0 0 1 12.025 7H3.975a2 2 0 0 1-1.955-1.84L1.929 1H.25A.25.25 0 0 0 0 1zm2.246 6H13.75l-.785 3.141a1 1 0 0 1-.97.859H6.001a1 1 0 0 1-.97-.859L4.246 6zM5.5 14a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm7 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
                    </svg>
                  </a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
  </header>
  
  </div>